In [1]:
pip install cfbd --upgrade

Defaulting to user installation because normal site-packages is not writeable

DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/statsmodels-0.13.5-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/jupyterlab-3.4.8-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/rasterio-1.3.4-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/Fiona-1.8.22-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/Shapely-1.8.5.post1-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/pyproj-3.4.1-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/pyFFTW-0.12.0-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/scikit_build-0.11.2.dev202+g9cc7823-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/mpmath-1.2.1-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/protobuf-3.20.1-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/jupyter_server-1.23.5-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/ipympl-0.9.2-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/pyerfa-2.0.0.1-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/pygeos-0.13-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/pandas-1.5.2-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/retrolab-0.3.21-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/jupyter_bokeh-3.0.5-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/Rtree-1.0.1-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/qutip-4.7.1-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/opencv_contrib_python_headless-4.5.2+1ccaef6-py3.11-macosx-11.0-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/pyzmq-24.0.1-py3.11-macosx-11.5-x86_64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

Requirement already satisfied: cfbd in /var/mobile/Containers/Data/Application/3C496577-619B-439B-B964-E1950AF27C16/Library/lib/python3.11/site-packages (4.5.1)
Requirement already satisfied: certifi>=2017.4.17 in /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages (from cfbd) (2022.12.7)
Requirement already satisfied: python-dateutil>=2.1 in /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages (from cfbd) (2.8.2)
Requirement already satisfied: six>=1.10 in /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages (from cfbd) (1.16.0)
Requirement already satisfied: urllib3>=1.23 in /private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages (from cfbd) (1.26.14)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

In [2]:
import cfbd
import pandas as pd
import numpy as np

In [3]:
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] = "insert API key, not mine :)"
configuration.api_key_prefix['Authorization'] = 'Bearer'

api_config = cfbd.ApiClient(configuration)

wk = 14

In [4]:
response = games = cfbd.GamesApi(api_config).get_games(year=2023, season_type='both', division = 'fbs')
data = pd.DataFrame.from_records([g.to_dict() for g in games])

for index,row in data.iterrows():
    if(data.loc[index,'home_division']!='fbs'):
        data.loc[index,'home_team'] = 'FCS'
    elif(data.loc[index,'away_division']!='fbs'):
        data.loc[index,'away_team'] = 'FCS'

data = data[
    (data['home_points'] == data['home_points'])
    & (data['away_points'] == data['away_points'])
    & (pd.notna(data['home_conference']))
    & (pd.notna(data['away_conference']))
]

In [5]:
data['home_spread'] = np.where(data['neutral_site'] == True, data['home_points'] - data['away_points'], (data['home_points'] - data['away_points'] - 0))
data['away_spread'] = -data['home_spread']

In [6]:
teams = pd.concat([
    data[['home_team', 'home_spread', 'away_team']].rename(columns={'home_team': 'team', 'home_spread': 'spread', 'away_team': 'opponent'}),
    data[['away_team', 'away_spread', 'home_team']].rename(columns={'away_team': 'team', 'away_spread': 'spread', 'home_team': 'opponent'})
])

In [7]:
teams['spread'] = np.where(teams['spread'] > 1, 1, teams['spread'])
teams['spread'] = np.where(teams['spread'] < -1, -1, teams['spread'])
#teams['spread'] = np.where(teams['spread'] > -3 and teams['spread'] < 0, -3, teams['spread'])
#teams['spread'] = np.where(teams['spread'] < 3 and teams['spread'] > 0, 3, teams['spread'])

In [8]:
spreads = teams.groupby('team').spread.mean()

In [9]:
terms = []
solutions = []
tm_opps = ['Ohio State']
tm2_opps = ['Tennessee']
for team in spreads.keys():
    row = []
    opps = list(teams[teams['team'] == team]['opponent'])
    if team == tm_opps[0]:
        tm_opps += opps
    if team == tm2_opps[0]:
        tm2_opps += opps
    for opp in spreads.keys():
        if opp == team:
            row.append(1)
        elif opp in opps:
            row.append(-1.0/len(opps))
        else:
            row.append(0)
    terms.append(row)
    solutions.append(spreads[team])

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

solution = np.linalg.solve(np.array(terms), np.array(solutions))
ratings = list(zip(spreads.keys(), solution))
srs = pd.DataFrame(ratings, columns=['team', 'rating'])
srs = srs.set_index(srs['team'])
srs = pd.concat([srs,spreads], axis = 1)

srs['sos'] = srs['rating'] - srs['spread']
srs[["sos"]] = scaler.fit_transform(srs[["sos"]])
mean = srs.rating.mean()
srs['rating'] = srs['rating'] - mean
srs[["rating"]] = scaler.fit_transform(srs[["rating"]])
srs['spread'] = (srs['spread']+1)/2
#display(srs.sort_values('rating', ascending=False).iloc[:])
display(srs.sort_values('rating', ascending=False).loc[tm_opps])
display(srs.sort_values('rating', ascending=False).loc[tm2_opps])

                              team    rating    spread       sos
team
Ohio State              Ohio State  0.972167  1.000000  0.666919
FCS                            FCS  0.077344  0.036364  0.568456
Western Kentucky  Western Kentucky  0.531329  0.571429  0.522635
Maryland                  Maryland  0.625518  0.714286  0.447063
Penn State              Penn State  0.812416  0.857143  0.588808
Indiana                    Indiana  0.392308  0.285714  0.789478
Notre Dame              Notre Dame  0.786635  0.750000  0.750645
Purdue                      Purdue  0.482118  0.285714  1.000000

                          team    rating    spread       sos
team
Tennessee            Tennessee  0.689027  0.714286  0.595932
Virginia              Virginia  0.412790  0.285714  0.837488
FCS                        FCS  0.077344  0.036364  0.568456
UT San Antonio  UT San Antonio  0.448927  0.571429  0.329477
South Carolina  South Carolina  0.431221  0.285714  0.880692
Texas A&M            Texas A&M  0.567037  0.571429  0.606336
Florida                Florida  0.648745  0.714286  0.501508
Alabama                Alabama  0.909623  0.875000  0.779626

In [11]:
### data = pd.DataFrame.from_records([g.to_dict() for g in games])

for index,row in data.iterrows():
    if(data.loc[index,'home_division']!='fbs'):
        data.loc[index,'home_team'] = 'FCS'
    elif(data.loc[index,'away_division']!='fbs'):
        data.loc[index,'away_team'] = 'FCS'

data = data[
    (data['home_points'] == data['home_points'])
    & (data['away_points'] == data['away_points'])
    & (pd.notna(data['home_conference']))
    & (pd.notna(data['away_conference']))
]

data['home_spread'] = np.where(data['neutral_site'] == True, data['home_points'] - data['away_points'], (data['home_points'] - data['away_points'] - 3))
data['away_spread'] = -data['home_spread']

teams = pd.concat([
    data[['home_team', 'home_spread', 'away_team']].rename(columns={'home_team': 'team', 'home_spread': 'spread', 'away_team': 'opponent'}),
    data[['away_team', 'away_spread', 'home_team']].rename(columns={'away_team': 'team', 'away_spread': 'spread', 'home_team': 'opponent'})
])

teams['spread'] = np.where(teams['spread'] > 25, 25, teams['spread'])
teams['spread'] = np.where(teams['spread'] < -25, -25, teams['spread'])
#teams['spread'] = np.where(teams['spread'] > -3 and teams['spread'] < 0, -3, teams['spread'])
#teams['spread'] = np.where(teams['spread'] < 3 and teams['spread'] > 0, 3, teams['spread'])

spreads = teams.groupby('team').spread.mean()

terms = []
solutions = []
tm_opps = ['LSU']
tm2_opps = ['Wake Forest']
for team in spreads.keys():
    row = []
    opps = list(teams[teams['team'] == team]['opponent'])
    if team == tm_opps[0]:
        tm_opps += opps
    if team == tm2_opps[0]:
        tm2_opps += opps
    for opp in spreads.keys():
        if opp == team:
            row.append(1)
        elif opp in opps:
            row.append(-1.0/len(opps))
        else:
            row.append(0)
    terms.append(row)
    solutions.append(spreads[team])

solution = np.linalg.solve(np.array(terms), np.array(solutions))
ratings = list(zip(spreads.keys(), solution))
srs2 = pd.DataFrame(ratings, columns=['team', 'SRS_rating'])
srs2 = srs2.set_index(srs2['team'])
srs2 = pd.concat([srs2,spreads], axis = 1)
srs2.rename(columns={'spread':'mov'},inplace=True)
srs2['SOS'] = srs2['SRS_rating'] - srs2['mov']
mean = srs2.SRS_rating.mean()
srs2['SRS_rating'] = srs2['SRS_rating'] - mean
srs2['SOS'] = srs2['SOS'] - mean
srs2[["SRS_rating"]] = scaler.fit_transform(srs2[["SRS_rating"]])
srs2[["SOS"]] = scaler.fit_transform(srs2[["SOS"]])
#display(srs2.sort_values('SRS_rating', ascending=False).iloc[:25])
display(srs2.sort_values('SRS_rating', ascending=False).loc[tm_opps])
display(srs2.sort_values('SRS_rating', ascending=False).loc[tm2_opps])

                                team  SRS_rating        mov       SOS
team
LSU                              LSU    0.804875  11.125000  0.862073
FCS                              FCS    0.018962 -18.427273  0.636054
Arkansas                    Arkansas    0.554571   1.375000  0.810150
Auburn                        Auburn    0.512117  -0.285714  0.801761
Army                            Army    0.350550  -4.000000  0.615138
Florida State          Florida State    0.948539  17.142857  0.866837
Mississippi State  Mississippi State    0.476337  -1.142857  0.762484
Ole Miss                    Ole Miss    0.787229  10.428571  0.858949
Missouri                    Missouri    0.693965   9.500000  0.679069

                        team  SRS_rating        mov       SOS
team
Wake Forest      Wake Forest    0.373293   0.571429  0.401072
FCS                      FCS    0.018962 -18.427273  0.636054
Vanderbilt        Vanderbilt    0.242858  -8.125000  0.588648
Georgia Tech    Georgia Tech    0.436326  -1.571429  0.687107
Pittsburgh        Pittsburgh    0.404797  -1.857143  0.624622
Old Dominion    Old Dominion    0.287898  -1.714286  0.321581
Clemson              Clemson    0.651595   5.571429  0.805516
Virginia Tech  Virginia Tech    0.476380  -0.714286  0.737152

In [12]:
w1 = 1.3
w2 = 0.6
w3 = 1.2
sm = 0.28

ranks = pd.concat([srs.drop(columns=['team']),srs2.drop(columns=['team'])],axis=1)
ranks['avg_SOS'] = (0.83*ranks['sos']+0.17*ranks['SOS'])
ranks['rank'] = ((ranks['rating']+0.5)*w1+(ranks['SRS_rating']+0.5)*w2+((ranks['spread']+0.5)*(sm*ranks['avg_SOS']+(1-sm/2)))*w3)/3
scal = MinMaxScaler(feature_range=(50,100))
mm = np.array([0.4766666,1.57]).reshape(-1,1)
scal.fit(mm)
ranks[['rank']] = scal.transform(ranks[['rank']])
ranks.sort_values('rank',ascending=False,inplace=True)
ranks.reset_index(inplace=True)
pd.set_option('display.max_rows',None)

grades = ['A++','A+',"A","A-",'B+','B','B-','C+',"C","C-",'D+',"D","D-","F+","F","F-",'F--']
grades.reverse()
bins = [0]
g = 50
while(g<101):
    bins.append(round(g,12))
    g+=(10/3)
bins.append(200)
ranks['grade'] = pd.cut(ranks['rank'],bins=bins,labels=grades,)
ranks.index = ranks.index + 1
ranks[['team','rating','SRS_rating','avg_SOS','rank']].loc[:]
ranks[['team','grade']].loc[:]
from tabulate import tabulate
#display in plain text format
#print(tabulate(ranks[['team','grade']], headers='keys', tablefmt='html'))

/private/var/containers/Bundle/Application/1156DF36-3970-466E-AEBB-AD8D32B96E4C/Carnets-sci.app/Library/lib/python3.11/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but MinMaxScaler was fitted without feature names
  warnings.warn(

In [13]:
ranks[['team','grade']].loc[:]

                      team grade
1            Florida State   A++
2               Ohio State    A+
3                 Michigan    A+
4                 Oklahoma    A+
5                    Texas    A+
6               Washington     A
7                  Alabama     A
8            James Madison     A
9                 Ole Miss    A-
10                    Utah    A-
11              Penn State    A-
12            Oregon State    A-
13          North Carolina    A-
14                Missouri    A-
15                 Georgia    A-
16              Notre Dame    A-
17               Air Force    A-
18                  Oregon    B+
19                     LSU    B+
20                 Liberty    B+
21              Louisville    B+
22                    Iowa    B+
23               Wisconsin    B+
24            Kansas State    B+
25                    Duke    B+
26                  Tulane    B+
27                     USC     B
28                    UCLA     B
29                    Troy     B
30               Tennessee     B
31           Georgia State     B
32                 Rutgers     B
33                   Miami     B
34                  Kansas     B
35          Oklahoma State     B
36                 Wyoming     B
37                Maryland     B
38                  Toledo    B-
39                 Florida    B-
40               Minnesota    B-
41                 Memphis    B-
42        Washington State    B-
43                    UNLV    B-
44            Fresno State    B-
45                 Clemson    B-
46        Georgia Southern    B-
47               Texas A&M    B-
48              Iowa State    B-
49                Kentucky    B-
50                Nebraska    B-
51              Miami (OH)    C+
52      Jacksonville State    C+
53                 Arizona    C+
54                     SMU    C+
55                Syracuse    C+
56                Colorado    C+
57                     BYU    C+
58                    Ohio    C+
59                NC State    C+
60        Western Kentucky    C+
61        Coastal Carolina    C+
62       Mississippi State    C+
63           West Virginia    C+
64           South Alabama    C+
65          Boston College    C+
66                     TCU    C+
67                Marshall     C
68             Texas State     C
69               Louisiana     C
70           Virginia Tech     C
71          UT San Antonio     C
72                  Auburn     C
73                Illinois     C
74            Georgia Tech     C
75             Wake Forest     C
76           Bowling Green     C
77            Northwestern    C-
78              California    C-
79                    Rice    C-
80                  Purdue    C-
81                     UCF    C-
82              Texas Tech    C-
83            Old Dominion    C-
84                 Houston    C-
85                  Baylor    C-
86          South Carolina    C-
87          San José State    C-
88          Michigan State    C-
89             Boise State    C-
90              Utah State    C-
91        New Mexico State    C-
92                   Tulsa    C-
93                    Navy    C-
94       Northern Illinois    C-
95           South Florida    C-
96          Arkansas State    C-
97                Virginia    C-
98       Appalachian State    C-
99          Colorado State    D+
100       Florida Atlantic    D+
101                Indiana    D+
102               Arkansas    D+
103        San Diego State    D+
104       Central Michigan    D+
105             Pittsburgh    D+
106       Eastern Michigan    D+
107             Cincinnati    D+
108            North Texas     D
109             New Mexico     D
110       Middle Tennessee     D
111                   Army     D
112               Stanford     D
113  Florida International     D
114                    UAB     D
115             Vanderbilt     D
116         Louisiana Tech     D
117                Buffalo     D
118              Charlotte     D
119       Western Michigan     D
120       Louisiana Monroe     D
121          Arizona State    D-
122             Ball State    D-
123   Southern Mississippi    D-
124                   UTEP    D-
125            Connecticut    D-
126                Hawai'i    F+
127                 Temple    F+
128                 Nevada    F+
129          East Carolina    F+
130                  UMass    F+
131      Sam Houston State     F
132             Kent State     F
133                    FCS     F
134                  Akron    F-

In [14]:
rankings = srs.sort_values('rating', ascending=False).reset_index(drop=True)[['team','rating','sos']]
teams = cfbd.TeamsApi(api_config)
fbs = teams.get_fbs_teams()
fbs_n = list(team.school for team in fbs)
#rankings = rankings[rankings['team'].isin(fbs_n)]

In [15]:
stats_api = cfbd.StatsApi(api_config)
s = stats_api.get_team_season_stats(year=2022,end_week=wk)

In [16]:
df = pd.DataFrame.from_records([si.to_dict() for si in s])
df = df.drop(columns = ['season','conference'])
ndf = pd.DataFrame(index = df.team.unique(),columns = df.stat_name.unique())
for index,row in df.iterrows():
    ndf.loc[row[0],row[1]] = df.iloc[index,2]
del(df)
ndf = ndf.sort_index()

In [17]:
ypp = ndf[["netPassingYards",'passAttempts','rushingYards','rushingAttempts']]
ypp['YPA'] = ypp['netPassingYards']/ypp['passAttempts']
ypp['YPC'] = ypp['rushingYards']/ypp['rushingAttempts']
ypp['passPct'] = ypp['passAttempts']/(ypp['passAttempts']+ypp['rushingAttempts'])
ypp['YPP'] = ypp['YPA']*ypp['passPct'] + ypp['YPC']*(1-ypp['passPct'])
ypp = ypp.drop(columns = ["netPassingYards",'passAttempts','rushingYards','rushingAttempts'])
#ypp.head()

/private/var/mobile/Containers/Data/Application/3C496577-619B-439B-B964-E1950AF27C16/tmp/ipykernel_11917/767249118.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ypp['YPA'] = ypp['netPassingYards']/ypp['passAttempts']
/private/var/mobile/Containers/Data/Application/3C496577-619B-439B-B964-E1950AF27C16/tmp/ipykernel_11917/767249118.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ypp['YPC'] = ypp['rushingYards']/ypp['rushingAttempts']
/private/var/mobile/Containers/Data/Application/3C496577-619B-439B-B964-E1950AF27C16/tmp/ipykernel_11917/767249118.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ypp['passPct'] = ypp['passAttempts']/(ypp['passAttempts']+ypp['rushingAttempts'])
/private/var/mobile/Containers/Data/Application/3C496577-619B-439B-B964-E1950AF27C16/tmp/ipykernel_11917/767249118.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ypp['YPP'] = ypp['YPA']*ypp['passPct'] + ypp['YPC']*(1-ypp['passPct'])

In [18]:
#defense

In [19]:
#concat

In [20]:
#formulas